@{
    ViewBag.Title = "Test";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Remote Advisor</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="/Content/controls.css" crossorigin="anonymous" rel="stylesheet">
    <link href="/Content/Join.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>

    <div class="container">
        <div id="play"></div>
        <h4>Azure Communication Services</h4>
        <h1>Calling Quickstart</h1>
        <div id="call-panel" class="hidden">
            <!-- panels for video display -->
            <div class="row" id="remote-displays">
                <!-- Local Video Preview-->
                <div id="local-panel" class="col-5 formal-section video-card-holder draggable">
                    <h5 class="drag-bar">My Video Preview</h5>
                    <div class="video-card">
                        <div id="video" class="video-panel"></div>
                        <div id="video-bar" class="toolbar">
                            <div id="toolbar" class="d-flex flex-wrap">
                                <div id="local-video-switch" class="media-control inactive-control text-center" data-value="off"><i id="my-cam-off" title="Turn on Camera" class="fa fa-video-slash"></i><i id="my-cam-on" title="Turn off Camera" class="fa fa-video hidden"></i></div>
                                <span style="width:10px"></span>
                                <div id="local-microphone-switch" class="media-control inactive-control text-center" data-value="off"><i id="my-mic-off" title="Unmute Mic" class="fa fa-microphone-slash"></i><i id="my-mic-on" title="Mute Mic" class="fa fa-microphone hidden"></i></div>
                                <button id="video-button" type="button" class="btn btn-sm btn-primary matching-button hidden">Connect</button>
                                <button id="hang-up-button" type="button" class="btn btn-sm btn-primary matching-button hidden">Hang Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Device Selector and Remote Participant List -->
        <div id="media-selectors" class="row">
            <div class="col-5 formal-section">
                <h5>Call Devices</h5>
                <div id="device-list" class="col hidden">
                    <div id="cameras" class="dropdown-area" >
                        <label labelfor="camera-list">
                            Cameras
                            <select id="camera-list" class="form-select">
                            </select>
                        </label>
                    </div>

                    <div id="mics" class="dropdown-area">
                        <label labelfor="mic-list">
                            Microphones
                            <select id="mic-list" class="form-select">
                            </select>
                        </label>
                    </div>
                    <div id="speakers" class="dropdown-area">
                        <label labelfor="speaker-list">
                            Speakers
                            <select id="speaker-list" class="form-select">
                            </select>
                        </label>
                    </div>
                </div>
                <div id="device-list-loading">
                    <h5 class="ms-3">Loading Devices...</h5>
                </div>
            </div>

            <div id="participant-panel" class="col-5 formal-section hidden">
                <div id="partipant-list">
                    <div class="col">
                        <h5>
                            Call Participants&nbsp;<i id="refresh-participants" style="color:blue !important; font-size:18px; display: inline; cursor: pointer;" class="fas fa-sync-alt"></i>
                        </h5>
                        <select id="participants" size="3" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call Status and Remote Participant Counts -->
        <div id="call-info" class="row hidden">
            <div class="col-5 formal-section">
                <h5>Call Status</h5>
                <div id="status-bar1" class="col-5">
                    <div id="status-box">
                        <div class="status-box" title="Call Status">
                            <span class="status-message"><i class='fas fa-phone toolbar-icon'></i></span>
                            <div id="call-state" class="status-message">Call not joined</div>
                        </div>
                        <div class="status-box">
                            <span class="status-message">
                                <i class="fas fa-users toolbar-icon"></i>
                            </span>
                            <div id="call-participants" class="status-message">0 Remote Users</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5 formal-section">
                <div class="d-flex">
                    <h5>Logs</h5>
                    <div class="ms-auto ml-auto">
                        <i id="show-logs" class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div id="console-out" class="log-console hidden"></div>
            </div>
        </div>
        </div>
    <!--Modal Dialog-->
    <div class="modal" id="modal-login" tabindex="-1" role="dialog"  data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Fake Login Screen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter your name:</p>
                    <input type="text" id="user-name" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button id="btnLogin" type="button" class="btn btn-primary btn-default">Login</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="root"></div>
    <input type="hidden" id="login-name" />
    <input type="hidden" id="token" />
    <input type="hidden" id="token-expires" />
    <input type="hidden" id="userid" />
    <input type="hidden" id="email" />
    <script src="~/Scripts/App/Bundle.js"></script>
    <script>

 
    </script>




</body>
</html>