@{
    ViewBag.Title = "Test";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Remote Advisor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="/Content/controls.css">
    <link rel="stylesheet" href="/Content/Join.css?ver=030123">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
    </style>
</head>
<body>
    <div class="main-page">
        <h4>Azure Communication Services</h4>
        <h1>Calling Asp.Net Quickstart</h1>
        @if (ViewBag.HasId == false)
        {
            <div class="align-self-center">
                <div class="d-flex align-self-center" >
                    <div >Meeting Id</div>
                    <div id="add-teams" class="add-teams ms-auto">
                        <img height="30" src="~/Images/microsoft-teams-logo.png" data-bs-target="#modal-teams" data-bs-toggle="modal" title="Connect to Teams Meeting" />
                    </div>
                </div>
                <div class="meeting-id"><input type="text" id="meetingId" value="@ViewBag.MeetingId" class="" /></div>
            </div>
        }
        else
        {
            <input type="hidden" id="meetingId" value="@ViewBag.MeetingId" />
            <label>@ViewBag.MeetingId</label>
        }
    </div>

    <div class="main-page d-flex flex-wrap">
        <div id="call-panel" class="hidden1">
            <!-- panels for video display -->
            <div class="d-flex flex-wrap">
                <!-- Local Video Preview-->
                <div class="formal-section">
                    <div id="local-panel" class="video-card">
                        <div class="video-card-content">
                            <div id="video" class="video-panel">Local Preview</div>
                            <div id="video-bar" class="video-panel-toolbar">
                                <div id="toolbar" class="d-flex flex-wrap hidden">
                                    <div id="local-video-switch" class="media-control off-state fa fa-video-slash" data-state="off" title="Turn on Camera" data-on="fa-video" data-off="fa-video-slash" data-onTitle="Turn on Camera" data-offTitle="Turn off Camera"></div>
                                    <div id="local-microphone-switch" class="media-control off-state fas fa-microphone-slash" data-state="off" title="Turn on Microphone" data-on="fa-microphone" data-off="fa-microphone-slash" data-onTitle="Turn on Microphone" data-offTitle="Turn off Microphone"></div>
                                    <div id="video-button" class="on-state media-control hidden fas fa-phone" data-state="off"><span>Connect</span></div>
                                    <div id="hang-up-button" class="off-state media-control hidden fas fa-phone-slash"><span>Hang Up</span></div>
                                    <div id="local-video-toggler" class="media-control off-state fas fa-expand-arrows-alt call-dependant hidden" data-state="off" title="View small preview window" data-on="fa-window-restore" data-off="fa-expand-arrows-alt" data-offClass="small-preview" data-offClassTarget="local-panel" data-onTitle="Restore local preview window" data-offTitle="Reduce local preview window"></div>
                                    <div id="invite-remote-button" class="media-control on-state fas fa-user-plus call-dependant hidden" data-state="on" data-bs-target="#contact-modal" data-bs-toggle="modal" title="Invite Mobile Pariticipant"></div>
                                    <div id="btn-share" class="media-control off-state fas fa-share-square call-dependant hidden" data-state="off" title="Start sharing" data-on="fas fa-times" data-off="fas fa-share-square" data-onTitle="" data-offTitle=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="remote-displays"></div>
            </div>
        </div>
    </div>
    <div class="main-page d-flex flex-wrap">
        <!-- Device Selector and Remote Participant List -->
        <div id="media-selectors">
            <div class="formal-section">
                <h5>Call Devices</h5>
                <div id="device-list" class="hidden">
                    <div id="cameras" class="dropdown-area">
                        <label labelfor="camera-list">
                            Cameras
                            <select id="camera-list" class="form-select">
                            </select>
                        </label>
                    </div>
                    <div id="mics" class="dropdown-area">
                        <label labelfor="mic-list">
                            Microphones
                            <select id="mic-list" class="form-select">
                            </select>
                        </label>
                    </div>
                    <div id="speakers" class="dropdown-area hidden">
                        <label labelfor="speaker-list">
                            Speakers
                            <select id="speaker-list" class="form-select">
                            </select>
                        </label>
                    </div>
                </div>
                <div id="device-list-loading">
                    <h5 class="ms-3">Loading Devices...</h5>
                </div>
            </div>
        </div>

        <div id="participant-panel" class="formal-section participant-panel call-dependant hidden1">
            <div id="partipant-list">
                <div>
                    <div class="d-flex">
                        <div><h5>Call Participants</h5></div><div class="ms-auto"><i id="refresh-participants" style="color:blue !important; font-size:18px; display: inline; cursor: pointer;" class="fas fa-sync-alt"></i></div>
                    </div>
                    <select id="participants" size="3" class="form-control">
                    </select>
                </div>
            </div>
        </div>


        <!-- Call Status and Remote Participant Counts -->
        <div id="call-info" class="call-dependant hidden1">
            <div class="formal-section">
                <h5>Call Status</h5>
                <div id="status-bar1">
                    <div id="status-box">
                        <div class="status-box" title="Call Status">
                            <span class="status-message"><i class='fas fa-phone toolbar-icon'></i></span>
                            <div id="call-state" class="status-message">Call not joined</div>
                        </div>
                        <div class="status-box">
                            <span class="status-message">
                                <i class="fas fa-users toolbar-icon"></i>
                            </span>
                            <div id="call-participants" class="status-message">0 Remote Users</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logging information-->
        <div class="log-panel">
            <div class="formal-section">
                <div class="d-flex">
                    <h5>Logs</h5>
                    <div class="ms-auto ml-auto">
                        <i id="show-logs" class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div id="console-out" class="log-console hidden1"></div>
            </div>
        </div>
    </div>
    <div id="root"></div>
    <div id="screen-share" class="draggable screenshare-panel hidden">
        <div id="screen-share-title" style="border:1px solid #373737;cursor:move">Screen Share</div>
        <div id="screen-share-content"></div>
        <div id="screen-share-toolbar">
        </div>
    </div>
    <input type="hidden" id="login-name" />
    <input type="hidden" id="token" />
    <input type="hidden" id="token-expires" />
    <input type="hidden" id="userid" />
    <input type="hidden" id="email" />
    <div class="modal" id="modal-login" tabindex="-1" role="dialog" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Fake Login Screen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter your name:</p>
                    <input type="text" id="user-name" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button id="btnLogin" type="button" class="btn btn-primary btn-default">Login</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-modal" class="modal fade" role="dialog" aria-labelledby="groupModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered video">
            <div class="modal-content">
                <div class="modal-header" style="font-weight:bolder; font-size:larger; color:black">
                    Add Client to Session
                </div>
                <div class="modal-body">
                    <div>
                        <div class="float-left">
                            <div>
                                <h5>Client Name:</h5>
                                <input id="client-name" class="form-control type-ahead-name" autocomplete="off" placeholder="Type client's name" />
                                <div style="height:20px"></div>
                                <h5>Client Cell#:</h5>
                                <input id="client-cell" class="form-control" />

                            </div>
                            <div id="added-names"></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <hr />
                </div>
                <div class="modal-footer">
                    <button id="btnCloseAddRemote" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="btnAddRemote" class="btn btn-secondary">Invite</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-teams" tabindex="-1" role="dialog" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Link to Teams Meeting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter the teams join link:</p>
                    <input type="text" id="new-id" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button id="btnUpdateMeeting" type="button" class="btn btn-primary btn-default" onclick="ChangeId()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/App/Bundle.js?ver=030123"></script>
    <script>
        $(".draggable").draggable();
                    //$(".draggable").show();
        function ChangeId() {
            let teamsId = document.getElementById("new-id").value;
            if (teamsId.startsWith("https://teams")) {
                document.getElementById("meetingId").value = teamsId;
            }
            else {
                alert('Please enter a valid teams meeting link');
            }
            $("#modal-teams").modal("hide");
        }
    </script>




</body>
</html>