@{
    ViewBag.Title = "Token Helper";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Token Helper</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css" crossorigin="anonymous" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/js/bootstrap.min.js"></script>
    <style>
        .dynamic {height:200px; width:200px; background-color:aquamarine;border:1px solid gray; margin:3px;}
    </style>
</head>
<body>

    <div class="container">
        <h4>Test Page</h4>
        <div>
            <button onclick="AddEl()">Add Element</button>
            <button onclick="ReferenceEl()">Reference Element</button>
        </div>
        <div id="dyndivs" class="d-flex flex-row">

        </div>
    </div>   
    <script>
        let index = 10;
        let lastEl = '';
        let divParent = document.getElementById("dyndivs");
        function AddEl() {
            lastEl = `dyn-${index}`;
            let el = document.createElement("div");
            el.classList = "dynamic";
            el.id = lastEl;
            divParent.appendChild(el);
            index = index + 20;
        }
        function ReferenceEl() {
            var el = document.getElementById(lastEl);
            console.log("last element", el);

        }
 
    </script>

</body>
</html>