.main-page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}



.video-card {
    width: 320px;
    height: 260px;
    min-width: 200px;
    min-height: 87px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.video-card-content{
  
}

.video-card-header {
    text-align: left !important;
    font-weight:bold;
    font-size:18px;
}

.video-panel {
    height:100%;
    min-height:168px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}

.video-panel-toolbar {
    background-color: silver;
    min-height: 26px;
    padding: 4px 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(to bottom, black, #232023, #373737, #232023, black);
    color:white;
    line-height:1;
}
.video-panel-toolbar-speaking{
    color: lightpink !important;
}
.toolbar-icon {
    background-color: white;
    color: #007bff !important;
    font-size: 14px;
    margin-right: 8px;
}
.column{ max-width:350px;}
.add-teams{cursor:pointer;
           border-radius:5px;
}
.add-teams:hover{background-color:mediumpurple;}
.hidden {
    display: none !important;
}

.media-control {
    height: 25px;
    cursor: pointer;
    min-width: 35px;
    border-radius: 5px;
    margin-left: 3px;
    padding:4px;
    color: white;
}
    .media-control span {
       /* possible text span block*/
        font-family: serif !important;
        display: inline-block;
        margin-left: 5px;
        font-size: 12px;
        font-weight: 200;
        line-height: 1;
      
        margin-left: 4px;
    }
    .media-control:hover{
        color:silver;
    }

.small-preview{
    position:absolute;
    top:0px;
    right:20px;
    width:200px;
    height:87px;
}

.screenshare-panel {
    border: 1px solid #373737;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 600px;
    background-color: white;
    z-index: 20000;

}

#status-bar {
    height: 30px;
    border: 1px solid black;
    margin-bottom: 8px;
    margin-top: 8px;
}

.status-box {
    width: 150px;
    margin-bottom: 5px;
    height: 26px;
    display: inline-block;
    margin-right: 25px;
}

.formal-section {
    margin-top: 10px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 12px;
    margin-right: 10px;
    width: 350px;
}

.status-message {
    display: inline-block;
    vertical-align: middle;
    font-size: smaller;
}
.log-panel{
    width:100%;
}

.matching-button {
    height: 25px;
    line-height: 1.0;
    margin-left: 15px;
}

.dropdown-area {
    margin-top: 20px;
}

#show-logs {
    cursor: pointer
}

.log-console {
    height: 300px;
    overflow-y: scroll
}

.participant-panel {
    display: block;
    padding: .375rem .75rem;
}

.off-state {
    background-color: red !important;
    background-image: linear-gradient(to bottom, #8b0000, #b22222, #dc143c, #b22222, #8b0000 );
}

.on-state {
    background-color: blue !important;
    background-image: linear-gradient(to bottom, #000080, #00008b, #0000cd, #00008b, #000080);
}
.active-control {
    background-color: #007bff;
  
}

.inactive-control {
    background-color: #5AAAFF;
 
}

@media only screen and (max-width: 500px) {
    .main-page{
        width:395px;
    }
}